@import "tailwindcss";

:root {
  --background: #fae3e3;
  --foreground: #1f1f1f;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blush: #fae3e3;
  --color-desert: #f7d4bc;
  --color-orchid: #cfa5b4;
  --color-lavender: #846b8a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-league: var(--font-league-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fae3e3;
    --foreground: #1f1f1f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
